apiVersion: apps/v1
kind: Deployment
metadata:  
  name: nodejs-deployment  
  labels:    
    app: devops
spec:  
  replicas: 1  
  strategy:
    type: Recreate
  selector:    
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec: 
     containers:
      - name: devops
        image: devopsgroup1/devops-stage2:testimg
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: devops
spec:
  type: NodePort
  ports:
  - port: 8000
    protocol: TCP
    targetPort: 8000
    nodePort: 32121
  selector:
    app: devops